<!DOCTYPE html>
<html lang="en">
  <head> 
      {% load static %}
    <link rel="stylesheet" href="{% static './css/header.css' %}">
    <link rel="stylesheet" href="{% static './css/babylion.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static './css/swiper-bundle.min.css' %}" />
  </head>

  <body>
    <div class="navbar">
      <a href="{% url 'home' %}"> <img class="navlogo" src={% static './img/navlogo.png' %}/> </a>
    </div>
    <div class="navbar_wrap">
      <div class="navbar_mobile" >
        <a href="{% url 'home' %}"> <img class="navlogo_mobile" src={% static './img/navlogo.png' %}/></a>
      </div>
    </div>

    <div class="box_wrap">
      <div class="box_inner">
        <div>합격자 조회</div>

        <div>지원서에 기재하신 이름, 전화번호, 이메일을 입력하세요.</div>

        <form class="main" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
              
            {{ form.name }}

            {{ form.phone_num }}

            {{ form.email }}
          <input class="uploadBtn" type="submit" value="조회하기">
        </form>
      </div>
    </div>
  </body>
</html>